body {
	background: #000000;
	color: #ffffff;
}
#TheWholePage {
	background: #26005c;
}
#Header {
	height:12.5%;
	margin: 0;
}
#Top {
	margin: 0;
	padding: 0;
	height:67.5%%;
}
#Footer {
	display:none;
}
#Menu{
	display:block;
	width:100%;
	height:12.5%;
}
#Info {
	display:none;
}
#Content_Container {
	height:100%;
	width:100%;
	float:none;
}
#Bottom {
	display:none;
}
#Menu_Container{
	position:absolute;
	bottom:0;
	left: 25%;
}
.menubutton {
	float:left;
	height: 100%;
	width:16.66%;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
.menuitem {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border-style:groove;
	border-width:2px;
	border-color:#888888;
}
.menu_text {
	margin-top: 2em;
}
#Menu_Landscape {
	display:none;
}
#Social {
	width:100%;
	height:90%;
	margin-top: 0.5rem;
	float:left;
}
.box {
	background:#26005c;
}
#Pictures {
	display:none;
}
#Map {
	height:100%;
	margin: 0.5rem 0 0 0;
}

