body {
	position:absolute;
	background: #000000;
	color: #ffffff;
	font-family: Bauhaus,Verdana, Geneva, sans-serif;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
#Header {
	background: #ffffff url("/img/ks_watermark.png") no-repeat;
	background-size: 100% 100%;
	height:126px;
	margin: 0;
	padding: 2px;
}
#Top {
	margin: 0;
	padding: 0;
}
#Footer {
	display:none;
}
#Menu{
	display:block;
	width:100%;
	height:110px;
}
#Info {
	display:none;
}
#Content_Container {
	height:100%;
	width:100%;
	margin: 0;
	float:none;
	word-wrap:break-word;
}
#Bottom {
	display:none;
}
#Menu_Container{
	position:absolute;
	bottom:0;
}
.menubutton {
	float:left;
	height: 100%;
	width:16.66%;
	background-color: #bbbbbb;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	cursor: pointer;
}
.menuitem {
	text-align: center;
	font-size: 0.8rem;
	width: 100%;
	height: 100%;
	color: #56008c;
	background-color: #bbbbbb;
	margin: 0;
	padding: 0;
	border: 1px #56008c solid;
	border-radius: 0;
}
.menuitem img {
    max-height: 110px;
}
.menu_text {
	margin-top: 25px;
}
#Menu_Landscape {
	display:none;
}
#Social {
	width:100%;
	height:100%;
	float:left;
}
.box {
	border: none;
	margin: 0;
	padding: 0;
}
#Pictures {
	display:none;
	position:relative;
	height:80%;
	top: 10%;
}
#Pictures .box {
	margin: 0;
}
#Map {
	height:40%;
	border: 1px #ccadf4 solid;
	border-radius: 0.2rem;
	overflow: hidden;
	margin: 0.5rem 0 0 0;
}
.tickercontainer {
	overflow:hidden;
	margin:0;
	padding:0;
	height: 2.5rem;
}
.tickercontainer .mask {
	position: relative;
	top: 0.8rem;
	height: 0.8rem;
	overflow: hidden;
}
#Marquee ul.newsticker {
	position:relative;
	list-style-type:none;
	margin:0;
	padding:0;
}
#Marquee ul.newsticker li {
	float: left;
	margin: 0;
	padding-right: 2rem;
}
.logo {
	height:100%;
	float:left
}
.heading {
	float:left;
	color:#56008c;
}
.date {
	float:right;
	color:#56008c;
}
.heading h1 {
	text-align: center;
}
.heading h1, .date h2 {
	margin-bottom: 5px;
}
.par {
	height:100%;
	font-size: 0.8rem;
	text-align:center;
}
.counter {
	text-align:center;
	position:relative;
	top:10%
}
.cell {
	width: 33%;
	float: left;
}
.cell img {
	margin-left: 2rem;
	text-align: center;
	max-width: 15rem;
}
.box {
	border: none;
	overflow: hidden;
	margin: 1.5rem 0 0 0;
	font-size: 0.8rem;
}
#social-icons {
}
.social {
	float:left;
	background: url('/img/social.png') no-repeat;
	height: 37px;
	width: 37px;
	margin: 0.3rem 0 0 0.5rem
}
.twitter {
	background-position: -2px -9px;
}
.facebook {
	background-position: -2px -129px;
}
.googleplus {
	background-position: -2px -169px;
}
@media screen and (max-height: 500px) { 
	html {
		font-size: 80%;
	}
}
@media screen and (max-width: 900px) { 
	html {
		font-size: 80%;
	}
	.logo {
		height:80%;
	}
}
@media screen and (max-height: 400px) { 
	html {
		font-size: 60%;
	}
}
@media screen and (max-width: 800px) { 
	html {
		font-size: 60%;
	}
	.logo {
		height:60%;
	}
}
@media screen and (max-height: 300px) { 
	html {
		font-size: 40%;
	}
}
@media screen and (max-width: 620px) { 
	html {
		font-size: 40%;
	}
	.logo {
		height:40%;
	}
}
