#Content {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    overflow-y: hidden;
    background-color: transparent;
}
#TabbedContent {
    background-color: #ffffff;
    margin: -0.05rem auto 0 auto;
    padding: 0 1rem 0 1rem;
    width:95%;
    max-height: 90%;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}
#TabbedContent h4 {
    margin-bottom: 0.5em;
}
#TabbedBox, .tabbed_area {
    height: 100%;
}
.tabs {
    margin: 0rem;
    padding: 0rem;
}
.tabs li {
    list-style: none;
    float: left;
    white-space: nowrap;
}
.tab {
    border-right: 1px #ab5ee1 solid;
    border-left: 1px #c399e0 solid;
    background: #ffffff;
    color: #46005c;
    background-image: -ms-linear-gradient(bottom, #c399e0 0%, #ffffff 100%);
    background-image: -moz-linear-gradient(bottom, #c399e0 0%, #ffffff 100%);
    background-image: -o-linear-gradient(bottom, #c399e0 0%, #ffffff 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c399e0), color-stop(1, #ffffff));
    background-image: -webkit-linear-gradient(bottom, #c399e0 0%, #ffffff 100%);
    background-image: linear-gradient(bottom, #c399e0 0%, #ffffff 100%);
    text-decoration:none;
    padding: 0.3rem 0.4rem 0.4rem 0.4rem;
    margin-right: -0.25rem;
}
.active {
    background: #c399e0;
    color: #ffffff;
    background-image: -ms-linear-gradient(top, #c399e0 0%, #36005c 100%);
    background-image: -moz-linear-gradient(top, #c399e0 0%, #36005c 100%);
    background-image: -o-linear-gradient(top, #c399e0 0%, #36005c 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c399e0), color-stop(1, #36005C));
    background-image: -webkit-linear-gradient(top, #c399e0 0%, #36005c 100%);
    background-image: linear-gradient(top, #c399e0 0%, #36005c 100%);
}